name: Publish Crate

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    # Required for OpenID Connect token retrieval
    permissions:
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Authenticate with crates.io
      id: auth
      uses: kingsword09/crates-io-auth-action@migrate-from-tsup-to-tsdown
      with:
        url: https://staging.crates.io

    - name: Publish to crates.io
      run: cargo publish --registry staging
      env:
        CARGO_REGISTRIES_STAGING_TOKEN: ${{ steps.auth.outputs.token }}
        CARGO_REGISTRIES_STAGING_INDEX: https://github.com/rust-lang/staging.crates.io-index
